body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    margin: 0;
    font-family: Arial, sans-serif;
}

form {
    border: 1px solid #ccc; 
    padding: 20px; 
    border-radius: 5px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9; 
}
button{
    background-color: green;
    border-radius: 5px;
}